{% extends "::layout.html.twig" %}

{% block content %}
    <div class="col-lg-9 partner-page main-content">
        <h2>{{ partner.name }}</h2>

        <p>
            {{ partner.description }}
        </p>
    </div>
{% endblock %}
