<nav class="main-menu navbar navbar-default row">
    <ul class="nav navbar-nav">
        <li class=""><a href="#"><i class="fa fa-home"></i><span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#">Littérature <span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#">BD / Manga <span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#">Séries <span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#">Sorties <span class="sr-only">(current)</span></a></li>
        <li class=""><a href="#">Partenariats <span class="sr-only">(current)</span></a></li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Recherche dans le comptoir">
        </div>
        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    </form>
</nav>
