{% extends '@JKCms/base.html.twig' %}

{% block navbar %}{% endblock %}

{% block layout %}
    {% include "LAGAdminBundle:Layout:flash_messages.html.twig" %}

    <div class="container login-container">
        <div class="row align-items-center">
            <div class="col-12">
                <h1>Le comptoir de l'écureuil</h1>
                <p>le dessous des noisettes</p>

                {% if error is defined and error %}
                    <span>{{ error }}</span>
                {% endif %}
                {% for owner in hwi_oauth_resource_owners() %}
                    <a href="{{ hwi_oauth_login_url(owner) }}"
                       class="btn btn-primary">
                        {{ 'cms.main.login_with_google' | trans }}
                        <i class="fa fa-arrow-right"></i>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
