{% extends '::layout.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="main-content col-lg-9 col-sm-9 col-sm-9 article">
        <div class="article-header">

        </div>
        <div class="article-content">
            {{ 'lecomptoir.error.generic' | trans }}<br/>

            <a href="{{ path('lecomptoir.homepage') }}">
                <i class="fa fa-home"></i>&nbsp;{{ 'lecomptoir.menu.home'| trans }}</a>
        </div>
    </div>
{% endblock %}

