@import "partials/media";
@import "partials/login";

.mce-close::before {
  content: "";
  float: right;
}

.profile-header-container {
  .profile-header-img {
    .img-circle {
      margin-top: 5px;
      margin-right: 5px;
    }
  }
}
