# symfony
app/config/parameters.yml
var/bootstrap.php.cache
var/logs
app/phpunit.xml
bin/*
!bin/console
app/build
web/bundles
cache
vendor
dumps

# sass
.sass-cache

/etc/ansible/vars/vars.yml
/etc/ansible/host_vars/*.yml

# backup
backups

admin-bundle-local.sh

web/assets
web/images/articles
web/images/categories
