# symfony
app/config/parameters.yml
var/bootstrap.php.cache
var/logs
app/phpunit.xml
bin/*
!bin/console
app/build
web/bundles
cache
vendor
dumps

# sass
.sass-cache

.gitkeep

/etc/ansible/vars/vars.yml
/etc/ansible/roles

# backup
backups
