# symfony
app/config/parameters.yml
var/logs
var/sessions
app/phpunit.xml
bin/*
!bin/console
app/build
web/bundles
cache
vendor
dumps

# sass
.sass-cache

/etc/ansible/hosts/host_vars/*.yml

# backup
backups
dump.sql

admin-bundle-local.sh

web/assets
web/images/articles
web/images/categories
web/images/gallery

web/uploads

.php_cs.cache
etc/ansible/playbooks/fetch-images.yml
