.main-menu.navbar-default {
  background: #e6e6e6;
  border-radius: 0;
  border: none;
  color: black;
  font-size: 17px;
  margin-bottom: 10px;

  .navbar-nav {
    & > li {
      border-right: 1px solid #2c4671;
      list-style: none;
      text-align: center;
      width: 195px;

      a {
        color: black;
      }
    }
  }

}

