---
### Ansible ###
ansible_host:
ansible_user:
ansible_port:
###############

### Project ###
project_path:
git_version:
git_repository:
###############

### Database ###
database_name:
database_user:
database_password:
################

### Database Sync ###
database_local_name:
database_local_user:
database_local_password:
################

### Apache ###
server_name:
server_admin:
server_document_root:
add_basic_auth:
use_ssl: false
ssl_certificate_file:
ssl_certificate_keyfile:
ssl_certificate_chainfile:
basic_auth_user:
basic_auth_password:
##############

### Symfony ###
symfony_locale:
symfony_mailer_user:
symfony_mailer_password:
symfony_mailer_encryption:
symfony_mailer_auth_mode:
symfony_secret:
symfony_google_analytics_id:
symfony_google_recaptcha_secret:
symfony_google_recaptcha_site_key:
symfony_squirrel_mail:
symfony_admin_mail:
symfony_liip_imagine_bundle_root_0:
symfony_liip_imagine_bundle_root_1:
symfony_backup_directory:
symfony_google_client_id:
symfony_google_client_secret:
symfony_google_scope:
symfony_google_allowed_user_0:
symfony_google_allowed_user_1:
symfony_hotjar_enabled: false
symfony_http_scheme:
symfony_assets_host:
#############

### Shared ###
local_upload_directory_1:
local_upload_directory_2:
#############
