---
ansible_host:
ansible_user:
ansible_port:

mysql_remote_root_password:
mysql_remote_password:

user:

database_name:
database_user:

server_admin:
server_name:
server_document_root:
# optional
server_alias:
server_basic_auth_user:
server_basic_auth_password:

git_version:
deploy_path:
google_analytics_id:
google_recaptcha_secret:
google_recaptcha_site_key:

# mail
squirrel_mail:
admin_mail:
mailer_user:
mailer_password:

liip_imagine_bundle_root:
