---
### Ansible ###
ansible_host:
ansible_user:
ansible_port:
###############

### Project ###
project_path:
git_version:
###############

### Database ###
database_root_user:
database_root_password:
database_name:
database_user:
database_password:
################

### Database Sync ###
database_local_name:
database_local_user:
database_local_password:
#####################

### Apache ###
server_name:
server_admin:
server_document_root:
add_basic_auth:
use_ssl:
ssl_certificate_file:
ssl_certificate_keyfile:
ssl_certificate_chainfile:
basic_auth_user:
basic_auth_password:
##############
