<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/hover-min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel='stylesheet' id='googlefonts-css'
          href="http://fonts.googleapis.com/css?family={{ 'Redressed:400|Gabriela:400|Playball:400|Gabriela:400&subset=latin' | url_encode }}"
          type='text/css' media='all'/>
    <link rel='stylesheet' id='ubuntu-css'
          href='http://fonts.googleapis.com/css?family=Ubuntu%3A300%2C400%2C700&#038;ver=4.1' type='text/css'
          media='all'/>
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <title>{% block title %}Le Comptoir de l'écureuil{% endblock %}</title>
</head>
<body>

{% block container %}
<div class="container">
    {# site header : logo and title#}
    {% include '::Main/header.html.twig' %}
    {# main menu #}
    {% include '::Menu/navbar.html.twig' %}

    <div class="row content">
        {# left column #}
        {% block left %}
            {% include '::Menu/left.html.twig' %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
    {% block latestArticles %}{% endblock %}

    <div class="row margin-row">
        <footer>
            <p>Site sous le copyright des noisettes - Le Comptoir De L'Ecureuil 2015<br/></p>
            <ul>
                <li><a href="{{ path('lecomptoir.contact') }}"><i class="fa fa-envelope"></i>&nbsp;Contact</a></li>
                <li><a href="{{ path('lecomptoir.sitemap') }}"><i class="fa fa-sitemap"></i>&nbsp;Plan du site</a></li>
                <li><a href="#"><i class="fa fa-briefcase"></i>&nbsp;Partenariats</a></li>
                <li><a href="#"><i class="fa fa-rss"></i>&nbsp;Rss</a></li>
            </ul>
        </footer>
    </div>
</div>
{% endblock %}

<script src="/bundles/lagadmin/js/jquery/jquery.min.js"></script>
<script src="/bundles/lagadmin/js/bootstrap.min.js"></script>
</body>
</html>


