<!DOCTYPE html>

<html>
<head>
    <style>
        .container {
            background: white;
        }

        .media {
            float: left;
            text-align: center;
            width: 25%;
        }

        .legend {
            color: dimgrey;
            font-size: 80%;
        }
    </style>
</head>
<body>
<div class="container">

    {% for i in 1..6 %}

        <div class="media">
            <a href="#">
                <img src="{{ asset('img/books.jpg') }}" alt="" width="80%"/>
                <span class="legend">
                    Voici un beau livre oh là là oui
                </span>
            </a>
        </div>

    {% endfor %}

</div>


</body>

</html>
