# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale:            en

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       ~
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: ssl
    mailer_auth_mode: login

    secret: ThisTokenIsNotSoSecretChangeIt

    debug_toolbar: true
    debug_redirects: false

    google_analytics_id: ~
    google_recaptcha_secret: ~
    google_recaptcha_site_key: ~

    squirrel_mail: ~
    admin_mail: ~

    liip_imagine_bundle_root: ~

    backup_directory: ~
