@import "compass";
@import "compass/css3/transition";
@import "partials/resets";
@import "partials/articles";
@import "partials/menu";

$font-family-title: Gabriela, sans-serif;

body {
  background-color: #11112f;
  margin: 0;
}
h1, h2, h3 {
  font-family: $font-family-title;
}

.container {
  h1 {
    color: #e9d9d3;
    position: absolute;
    font-size: 40px;
    margin-top: 20px;
  }
  .site-title {
    padding: 5px;
  }
  .site-header {
    height: 300px;
    background-size: 100%;
    margin-bottom: 1px;
    padding-right: 0;

    img {
      float: right;
    }
  }
  .left-menu{
    height: 610px;

    .row {
      padding-right: 1px;
    }
    .col-md-12 {
      margin-right: 1px;
      background-color: #2c4671;
      min-height: 184px;
      border-bottom: 1px solid #11112f;
    }
    // social icons (facebook, twitter...)
    .social-list {
      text-align: center;
      a {
        color: #e9d9d3;
        display: inline-block;
        padding: 20px;
        float: left;
        width: 50%;
        i {
          padding-left: 14px;
          padding-right: 14px;
        }

      }
    }
    // "WhoAmI" block
    .who-am-i {
      color: #e9d9d3;
      font-family: Gabriela, sans-serif;
      padding: 30px;

      .thumbnails img {
        margin-top: 10px;
        border-radius: 50%;
      }
    }
  }
  .main-content {
    background-color: #EEEAE8;
  }
}

.thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  width: 100%;
  text-decoration: none;
  background-color: darkgrey;

  .overlay {
    font-family: Gabriela, sans-serif;
    font-size: 40px;
    bottom: 0;
    width: 100%;
    position: absolute;
    color: bisque;
    background-color: #000000;
    //border-top: 6px solid #ffffff;
    padding: 14px;
    text-align: center;
    opacity: 0.7;
    @include transition-property(background-color);
    @include transition-duration(1s);
  }
  img {
    height: 305px;
  }

  &:hover {
    background-color: darkgrey;
    text-decoration: none;

    img {
      opacity: 0.5;
      background-color: #000000;
    }
    .overlay {
      background-color: transparent;
    }

  }
}
// required for homepage category hover
.hvr-sweep-to-bottom::before {
  background: none repeat scroll 0 0 #000000;
}
.col-md-6 {
  padding: 0;
}

.latest-article {
  background-color: bisque;
  margin-bottom: 200px;
  padding: 20px;

  h2 {

  }
}

.article {
  padding: 20px;

  .date {
    //float: left;
    //clear: both;
  }
  img {
    float: left;
    padding-right: 15px;
    width: 150px;
    height: 172px;
  }
  p {
    padding-left: 150px;
  }
}
