@import "compass";
@import "partials/resets";
@import "partials/articles";

body {
  background-color: #11112f;
  margin: 0;
}

.container {
  h1 {
    color: #e9d9d3;
    font-family: Gabriela, sans-serif;
  }
  .site-title {
    padding: 5px;
  }
  .site-header {
    height: 300px;
    background-size: 100%;
    margin-bottom: 1px;
    padding-right: 0;

    h1 {
      position: absolute;
      font-family: Gabriela, sans-serif;
      font-size: 40px;
    }
    img {
      float: right;
    }
  }
  .left-menu{
    height: 610px;

    .row {
      padding-right: 1px;
    }
    .col-md-12 {
      margin-right: 1px;
      background-color: #2c4671;
      min-height: 184px;
      border-bottom: 1px solid #11112f;
    }
    // social icons (facebook, twitter...)
    .social-list {
      text-align: center;
      a {
        color: #e9d9d3;
        display: inline-block;
        padding: 20px;
        float: left;
        width: 50%;
        i {
          padding-left: 14px;
          padding-right: 14px;
        }

      }
    }
    // "WhoAmI" block
    .who-am-i {
      color: #e9d9d3;
      font-family: Gabriela, sans-serif;
      padding: 30px;

      .thumbnails img {
        margin-top: 10px;
        border-radius: 50%;
      }
    }
  }
  .main-content {
    background-color: #EEEAE8;
    margin-bottom: 40px;
  }
}

.thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  width: 100%;
  font-family: Gabriela, sans-serif;
  text-decoration: none;
  background-color: darkgrey;

  .overlay {
    //display: none;
    font-size: 50px;
    top: 70%;
    left: 20%;
    position: absolute;
    color: #000000;
  }
  img {
    height: 305px;
  }

  &:hover {
    background-color: darkgrey;
    text-decoration: none;

    img {
      opacity: 0.5;
      background-color: #000000;
    }
    .overlay {
      display: block;
    }

  }
}
// required for homepage category hover
.hvr-sweep-to-bottom::before {
  background: none repeat scroll 0 0 #000000;
}
.col-md-6 {
  padding: 0;
}

.latest-article {
  background-color: bisque;
  margin-bottom: 200px;
  padding: 20px;
}

.article {
  padding: 20px;

  img {
    float: left;
    padding-right: 10px;
    width: 100px;
  }
}
