<ul class="media-list">
    {% for media in mediaList %}
    <li class="media">
        <a href="#" class="media-link" data-id="{{ media.id }}">
            <img src="{{ cms_media_path(media) | imagine_filter('media_thumbnail') }}"
                 alt="{{ media.description }}"/>
            <br/>{{ media.name }}
        </a>
    </li>
    {% endfor %}
</ul>

<script>
    // select the media on click
    $('.media-link').on('click', function () {
        $(this).toggleClass('selected');

        return false
    });
</script>
