{% extends '@JKCms/base.html.twig' %}

{% block container %}
    {# Display flash messages to not hide errors #}
    {% include '@LAGAdmin/Layout/flash_messages.html.twig' %}

    <style>
        .login-container {
            margin-top: 50px;
        }
        .login-container .panel {
            border: 1px solid darkgray;
            border-radius: 5px;
            padding: 25px;
        }
    </style>

    <div class="row login-container">
        <div class="col-4 offset-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Le comptoir de l'écureuil</h1>
                    <p>le dessous des noisettes</p>
                </div>
                <div class="panel-body">
                    {% if error is defined and error %}
                        <span>{{ error }}</span>
                    {% endif %}
                    {% for owner in hwi_oauth_resource_owners() %}
                        <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-default">
                            Se connecter avec Google
                        </a>
                        <br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
