/* line 3, assetic_compassxKf4jK.scss */
body {
  background-color: #eeeeee;
}
/* line 6, assetic_compassxKf4jK.scss */
body > .container-fluid {
  margin-left: 173px;
}

/* line 13, assetic_compassxKf4jK.scss */
table th a {
  color: inherit;
}

/* line 18, assetic_compassxKf4jK.scss */
.navbar-fixed-left {
  background-color: rgba(0, 0, 0, 0.86);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 200px;
}
/* line 26, assetic_compassxKf4jK.scss */
.navbar-fixed-left .navigation-title {
  padding: 10px;
  display: inline-block;
  text-transform: capitalize;
  text-align: center;
}
/* line 33, assetic_compassxKf4jK.scss */
.navbar-fixed-left ul.navigation-menu.nav-pills {
  padding-left: 0;
  margin-top: 25px;
}
/* line 37, assetic_compassxKf4jK.scss */
.navbar-fixed-left ul.navigation-menu.nav-pills li {
  display: block;
  margin-top: 0;
}
/* line 42, assetic_compassxKf4jK.scss */
.navbar-fixed-left ul.navigation-menu.nav-pills li a {
  padding: 8px 14px;
}
/* line 45, assetic_compassxKf4jK.scss */
.navbar-fixed-left ul.navigation-menu.nav-pills li a i {
  margin-right: 10px;
  width: 11px;
}
