parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: {{ database_name }}
    database_user: {{ database_user }}
    database_password: {{ database_password }}
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    mailer_delivery_address: arnaudfrezet@gmail.com
    secret: STColibriRKfDs342EDSrOFDIdsE54g5B7865N2
    migrations_database_driver: pdo_mysql
    migrations_database_host: 127.0.0.1
    migrations_database_port: null
    migrations_database_name: colibri-green-legacy
    migrations_database_user: root
    migrations_database_password: grozaloumek23
