<a href="https://lecomptoirdelecureuil.fr" title="Le Comptoir de L'Ecureuil">
    <img src="http://lecomptoirdelecureuil.fr/img/logo.png" alt="Le Comptoir de L'Ecureuil" width="100">
</a>
<br/>
<h1>{% block title %}{% endblock %}</h1>
<br/>
<br/>
{% block content %}{% endblock %}
