.article-widget li a {
  color: white;
  /*text-decoration: underline;*/
  font-size: 108%;
  /*color: lightblue;*/
}
.article-widget h2 a{
  color: white;
}
.article-widget .more-link {
  float: right;
}
.article-widget {
  padding: 15px;
}
.article-widget ul {
  padding-left: 0;
  margin-bottom: 0;
}
.article-widget ul li{
  list-style: none;
}
