ZSH=/home/{{ user }}/.oh-my-zsh
ZSH_THEME="robbyrussell"

COMPLETION_WAITING_DOTS="true"
plugins=(git composer symfony2 capistrano autojump)

export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"


source $ZSH/oh-my-zsh.sh
