parameters:
    locale: fr

    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: {{ database_name }}
    database_user: {{ database_name }}
    database_password: {{ mysql_remote_password }}

    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_port: 587
    mailer_user: {{ mailer_user }}
    mailer_password: {{ mailer_password }}
    mailer_encryption: ssl
    mailer_auth_mode: login

    secret: ThisIsASecretTokenForColibriWebsite

    debug_toolbar: true
    debug_redirects: false

    google_analytics_id: {{ google_analytics_id }}
    google_recaptcha_secret: {{ google_recaptcha_secret }}
    google_recaptcha_site_key: {{ google_recaptcha_site_key }}

    squirrel_mail: {{ squirrel_mail }}
    admin_mail: {{ admin_mail }}

    liip_imagine_bundle_root:
        - {{ liip_imagine_bundle_root[0] }}
        - {{ liip_imagine_bundle_root[1] }}

    backup_directory: {{ backup_directory }}

    google_client_id: {{ google_client_id }}
    google_client_secret: {{ google_client_secret }}
    google_scope: 'https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile'
    google_allowed_users:
        - {{ google_user_1 }}
        - {{ google_user_2 }}
