<VirtualHost *:443>
    ServerAdmin {{ server_admin }}
    ServerName {{ server_name }}
    DocumentRoot /home/{{ user }}/www/{{ user }}/current/web

    <Directory /home/{{ user }}/www/{{ user }}/current/web>
    Options +Indexes  +FollowSymLinks
    DirectoryIndex app.php
    AllowOverride All
    Require all granted
    </Directory>

    <IfModule mpm_itk_module>
        AssignUserId {{ user }} www-data
    </IfModule>

    ErrorLog ${APACHE_LOG_DIR}/{{ user }}-error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/{{ user }}-access.log combined


    CustomLog ${APACHE_LOG_DIR}/colibri-green-access.log combined

    SSLEngine ON
    SSLCertificateFile /home/letsencrypt/letsencrypt.sh/certs/lecomptoir.bluebear.fr/fullchain.pem
    SSLCertificateKeyFile /home/letsencrypt/letsencrypt.sh/certs/lecomptoir.bluebear.fr/privkey.pem
    SSLCertificateChainFile /home/letsencrypt/letsencrypt.sh/certs/lecomptoir.bluebear.fr/chain.pem

    Include /etc/letsencrypt/options-ssl-apache.conf

</VirtualHost>


<VirtualHost *:80>
    ServerAdmin {{ server_admin }}
    ServerName {{ server_name }}
    ServerAlias {{ server_alias }}
    DocumentRoot /home/{{ user }}/www/{{ user }}/current/web

    <Directory /home/{{ user }}/www/{{ user }}/current/web>
        Options +Indexes  +FollowSymLinks
        DirectoryIndex app.php
        AllowOverride All
        Require all granted
    </Directory>

    <IfModule mpm_itk_module>
        AssignUserId {{ user }} www-data
    </IfModule>

    ErrorLog ${APACHE_LOG_DIR}/{{ user }}-error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/{{ user }}-access.log combined
</VirtualHost>
