.left-menu{
  color: $main-color;
  height: 610px;

  .row {
    border-right: 1px solid #0D0D1F;

    .item {
      margin-right: 1px;
      background-color: #2F2F49;
      min-height: 184px;
      border-bottom: 1px solid #11112f;

      h2 {
        font-size: 26px;
      }
    }
  }
  // social icons (facebook, twitter...)
  .social-list {
    text-align: center;
    a {
      color: $main-color;
      display: inline-block;
      padding: 20px;
      float: left;
      width: 50%;
      i {
        padding-left: 14px;
        padding-right: 14px;
      }
    }
  }
  // "WhoAmI" block
  .who-am-i {
    font-family: Gabriela, sans-serif;
    padding: 15px;

    .thumbnails img {
      margin-top: 10px;
      border-radius: 50%;
    }
  }
  // "Friends" block
  .friends {
    font-family: Gabriela, sans-serif;
    height: 206px;
    // title on one line
    padding: 13px 15px 15px 15px;

    ul {
      padding-left: 0;

      li {
        list-style: none;
      }
    }
  }
  .filer {
    background-color: #2F2F49;
    height: 100%;
  }
}
