<div class="row">
    <div class="site-header col-lg-12">
        <h1 class="site-title">Le Comptoir de l'Ecureuil</h1>
        <img src="/img/cropped-bancomptoirvincent.jpg" class="header-image" />
    </div>
</div>
