{% extends '::layout.html.twig' %}

{% block title %}{{ 'lecomptoir.footer.legal' | trans }}{% endblock %}

{% block content %}
    <div class="main-content col-lg-9 col-sm-9 col-sm-9 page">
        <div class="page-header">
            <h1>{{ 'lecomptoir.footer.legal' | trans }}</h1>
        </div>
        <div class="page-content">
            <p>
                <strong>Dénomination:</strong> MADAME ESTELLE HAMELIN<br/><br/>
                <strong>SIREN:</strong> 813 696 960<br/>
                <strong>SIRET (siege):</strong> 81369696000026<br/><br/>
                <strong>Activité (Code NAF ou APE):</strong> Portails internet (6312Z)<br/>
                <strong>Forme juridique:</strong> Affaire personnelle profession libérale<br/><br/>
                <strong>Date création entreprise:</strong> 01-09-2015<br/>
                <strong>Date de dernière mise à jour:</strong> 25-09-2015<br/>
                <strong>Tranche d'effectif:</strong> 0 salarié (unités ayant eu des salariés au cours de l'année de référence mais plus
                d'effectif au 31/12)<br/>
            </p>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
{% endblock %}
