// main top menu
.main-menu.navbar-default {
  background: #09090F;
  border-radius: 0;
  border: none;
  color: $main-color;
  font-size: 17px;
  margin-bottom: 1px;

  .collapse.navbar-collapse {
    padding-left: 0;
  }

  // menu
  .navbar-nav {
    // menu items
    & > li {
      float: left;
      list-style: none;
      text-align: center;
      text-shadow: none;
      width: 130px;
      // first element is the home link, it is smaller
      &:nth-child(1) {
        height: 50px;
        width: 70px;
      }
      &:hover {
        background-color: $background-color;
      }

      a {
        color: $main-color;
        text-shadow: none;
      }
    }
    .dropdown {
      .dropdown-menu {
        background-color: #09090F;
        margin-left: -16px;

        li {
          a {
            padding: 10px 30px;

            &:hover {
              background: $background-color;
            }
          }
        }
      }
    }
    .large-item {
      width: 150px;
    }
  }
  .navbar-form {
    input[type=text] {
      border-radius: 0;
      width: 220px;
    }
    .btn {
      background: transparent;
    }
  }
}
