<form action="{{ path('cms.search') }}"
      method="get"
      class="navbar-form navbar-right"
      role="search">

    <div class="form-group">
        <input type="text"
               name="search"
               class="form-control"
               placeholder="{{ 'lecomptoir.menu.search' | trans }}"/>
    </div>
    <button type="submit" class="btn hvr-bounce-in">
        <i class="fa fa-search"></i>
    </button>
</form>
