<div class="left-menu col-sm-3 col-md-3 col-lg-3">
    <div class="row">
        <div class="col-md-12 item who-am-i">
            <h2>Qui suis-je ?</h2>

            <div>Nous sommes une bande d'écureuils qui lisent des bouquins avec des noisettes</div>
            <div class="thumbnails">
                <a href=""><img class="hvr-bounce-in" src="/img/thumbail-1.jpg"/></a>
                <a href=""><img class="hvr-bounce-in" src="/img/thumbail-2.jpg"/></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 item social-list">
            <a href=""><i class="fa fa-twitter fa-5x hvr-bounce-in"></i></a>
            <a href=""><i class="fa fa-facebook fa-5x hvr-bounce-in"></i></a>
            <a href=""><i class="fa fa-google-plus fa-5x hvr-bounce-in"></i></a>
            <a href=""><i class="fa fa-rss fa-5x hvr-bounce-in"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 item friends">
            <h2>Les sites à noisettes</h2>
            <ul>
                <li>www.noisettes.fr</li>
                <li>www.les-écureuils.fr</li>
                <li>www.lecture.com</li>
                <li>www.bouquin.livre.en</li>
                <li>www.chene.noisettes.noix</li>
                <li>www.chene.noisettes.noix</li>
            </ul>
        </div>
    </div>
</div>
