article {
  .header {
    h2 {
      border-left: 6px solid #497CA7;
      font: 300 22px/22px Ubuntu, sans-serif;
      margin-left: 42px;
      padding-left: 16px;
      padding-top: 40px;
      position: relative;

      a {
        color: #0B0E18;
      }
    }
    .header-image {
      display: inline-block;
      margin-top: 16px;

      img {
        height: 344px;
        width: 774px;
      }
    }
    .header-date {
      position: absolute;
      color: #337AB7;
      top: 24px;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  .content {
    padding: 0 20px 0 20px;
  }
}

// Article
.article {
  background-color: $main-color;
  min-height: 668px;
  font-family: "Gabriela", arial, sans-serif;
  padding: 0;

  h1, h2 {
    color: #11112f;
  }
  .article-header {
    padding: 20px 60px;

    .article-title {
      h2 {
        margin: 10px 0 20px 0;
      }
    }
  }
  .article-content {
    text-align: justify;
    line-height: 1.8;
    padding: 20px 60px;

    & > p > img {
      float: none;
    }

    img {
      margin: 0 20px;
      max-width: 720px;

      &.pull-left {
        margin-left: 0;
      }
      &.pull-right {
        margin-right: 0;
      }
    }
  }

  .article-thumbnail {
    text-align: center;
    background-color: black;
    margin-left: -14px;
  }
  .article-footer {
    line-height: 1.8;
    padding: 20px 50px;
    // add a margin top to prevent some images from the rte to overflow in the footer
    margin-top: 15px;

    ul, li {
      list-style: none;
      padding: 0;
    }
    .tag {
      display: inline;
    }
    .article-comments {
      margin-top: 25px;

      form {
        margin-bottom: 75px;

        input {
          border-radius: 0;
        }
      }

      .comments-btn {
        background: $background-color none;
        border: none;
        border-radius: 0;
        float: right;
        padding: 8px;

        &:hover {
          background-color: #2f2f49;
        }
      }

      // comment item
      .comment {
        border-bottom: 1px solid lightslategrey;

        .title {
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }
  // content
  .alignright {
    display: inline;
    float: right;
    padding-left: 15px;
  }
  .alignleft {
    display: inline;
    float: left;
    padding-right: 15px;
  }
}

.ribbon {
  background: $background-color none repeat scroll 0 0;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  clear: both;
  color: #fff;
  font-size: 12px;
  height: 22px;
  margin-bottom: -18px;
  margin-left: -6px;
  padding: 5px 5px 5px;
  position: relative;
  //text-shadow: 0 -1px $background-color, 0 1px $main-color;
  width: 146px;

}

.ribbon:before {
  content: " ";
  background: "ribbon.png";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -10px;
}

// filter page
.filter-article {
  .pager {
    a, span {
      margin: 5px;
    }
  }
}


.article .article-content img.pull-fit_to_width {
  margin-left: 0;
  margin-right: 0;
}

.article .article-content img.pull-center {
  display: block;
  margin: auto;
}
