.page {
  h1 {
    text-align: center;
  }
  .page-content {

  }
}

.free-page {
  padding: 0;

  .page-content {
    line-height: 1.8;
    min-height: 610px;
    padding: 20px 60px;
    text-align: justify;
  }
}
