// Pages global styles
.page,
.free-page {
  background-color: $main-color;

  h1 {
    text-align: center;
  }
  .page-content {
    line-height: 1.8;
    min-height: 610px;
    padding: 20px 60px;
    text-align: justify;

    img {
      margin: 0 20px;

      &.pull-left {
        margin-left: 0;
      }
      &.pull-right {
        margin-right: 0;
      }
    }
  }
}

.free-page {
  .page-content {
    padding: 20px;
  }
}
