.partner-page {
  .article-header {
    padding-bottom: 0;
  }
  .article-content {
    padding-top: 0;
  }
  .article-footer {
    margin-top: 0;

    .social-links li {
      float: left;
      padding: 20px 10px;
    }
  }
}
